<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
  <meta charset='utf-8' />
  <title>INTL Space Jam</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  
  <style>
  body { margin:0; padding:0; }
  #map {  position:absolute; 
          top:0; 
          bottom:0; 
          width:100%;
        }

  </style>

  <title> Int'l Space Jam </title>
  
</head>

<body>

    <div class="row">
      <div id="spotify-iframe-holder">
        <iframe id="player" src="" width="300" height="800" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
      </div>
      <div id="map-holder">
        <div id='map'></div>
      </div>
      <script type="text/javascript">
    
        mapboxgl.accessToken = 'pk.eyJ1IjoicGFpZ2VlbW9vZHkiLCJhIjoiY2owbDcyejhvMDJwNzJ5cDR0YXE1aG10MCJ9.a-JLnrmMPSJNwOGQdloTDA';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/paigeemoody/cjxjrmbev3lr51conbo8fps1e',
          center: [-104.63480757745799, 21.617586420090632],
          zoom: 1
        });
        const issLocationAPI = 'http://api.open-notify.org/iss-now.json'

        // initialize current location data 
        let currentLat = null;
        let currentLng = null;

        let currentCountry = null;

        let topSong = null;

        let playlistId = null;

        // create point geojson
        let point  = {
              "type": "FeatureCollection",
              "features": [
                {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": []}
                  }
                ]
          };

        let path = {
              "type": "FeatureCollection",
              "features": [
                {
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                          [],
                        ]
                      }
                    }
                ]
          };

        // load map
        map.on('load', function() { 

          // load image for point marker
          map.loadImage('/static/style/iss.png', function(error, image) {
                  map.addImage('person', image)
            });

          // // create point geojson
          let point  = {
                "type": "FeatureCollection",
                "features": [
                  {
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                      "type": "Point",
                      "coordinates": [currentLng,currentLat]}
                    }
                  ]
              };

              map.addSource('point', {
                  "type": "geojson",
                  "data": point
              });


              map.addLayer({
                  "id": "point",
                  "source": "point",
                  "type": "symbol",
                  "layout": {
                      'visibility': 'visible',
                      "icon-image": 'person', 
                      "icon-allow-overlap": true,
                      "icon-ignore-placement": true,
                      "icon-size": .3,
                      "icon-anchor" : "bottom"
                  }
              });

        let path = {
              "type": "FeatureCollection",
              "features": [
                {
                  "type": "Feature",
                  "properties": {},
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                          [currentLng,currentLat],
                        ]
                      }
                    }
                ]
          };

          map.addSource('path', {
                  "type": "geojson",
                  "data": path
              });
            // add line to collect path
             map.addLayer({
              "id": "route",
              "type": "line",
              "source": "path",
                "layout": {
                  "line-join": "round",
                  "line-cap": "round"
                },
                "paint": {
                  "line-color": "#888",
                  "line-width": 8
                }
              });
            setCurrentLocation()
            var features = map.queryRenderedFeatures();

            features.forEach(feature => {
              console.log(feature.geometry.coordinates)
            })
            map.flyTo({
              center: features[0].geometry.coordinates,
              zoom: 2
            });
            
        })


        function setCurrentLocation(){

          $.getJSON(issLocationAPI, function(data) {
            
              currentLat = data.iss_position.latitude
              currentLng = data.iss_position.longitude

              console.log("lng, lat:",currentLng,currentLat)

              point.features[0].geometry.coordinates = [currentLng, currentLat]

              map.getSource('point').setData(point)

              updatePlayer()
        })

        function updatePlayer(){
          console.log('updatePlayer')

          let issCountry= `https://api.mapbox.com/geocoding/v5/mapbox.places/${currentLng},${currentLat}.json?types=country&access_token=${mapboxgl.accessToken}`;

          $.getJSON(issCountry, function(data) {
            if (data.features.length > 0){
              currentCountry = data.features[0].place_name
            } else {
              currentCountry = 'Global'
            }

          // get top song data from server 
          let topSong = `/top_song/${currentCountry}`;

         $.getJSON(topSong, function(data) {

            // only update player if new playlis id

            if (data['playlist_id'] != playlistId){

              console.log(data['playlist_id'], playlistId)

              playlistId = data['playlist_id']

              $('#player').attr("src", `https://open.spotify.com/embed/playlist/${playlistId}`);
            }
         })
    
          });

        };  

        }
        // update data every interval (current 5 seconds)
        setInterval(function(){ 
            setCurrentLocation()
        }, 500);

        // center map
        setInterval(function(){ 
          console.log("Focus map")
            var features = map.queryRenderedFeatures();

            features.forEach(feature => {
              console.log(feature.geometry.coordinates)
            })
            map.flyTo({
              center: features[0].geometry.coordinates,
              zoom: 0
            });
        }, 50000);


      </script> 

    </div>

</body>

</html>