<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
<!--   <link rel="shortcut icon" href="{{ url_for('static', filename='nav.png') }}"> -->
  <meta charset='utf-8' />
  <title>INTL Space Jam</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  
  <style>
  body { margin:0; padding:0; }
  #map {  position:absolute; 
          top:0; 
          bottom:0; 
          width:100%; 
          z-index: -1;
        }
  </style>

  <title> Int'l Space Jam </title>
  
</head>

<body>

  <div class="wrapper">

  <iframe id="player" src="" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>

  <div id='map'></div>

  <script type="text/javascript">
    
    mapboxgl.accessToken = 'pk.eyJ1IjoicGFpZ2VlbW9vZHkiLCJhIjoiY2owbDcyejhvMDJwNzJ5cDR0YXE1aG10MCJ9.a-JLnrmMPSJNwOGQdloTDA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/paigeemoody/cjxjikyc22tx41cqkougok2rk',
      center: [-96, 37.8],
      zoom: 0
    });

    const issLocationAPI = 'http://api.open-notify.org/iss-now.json'

    // initialize current location data 
    let currentLat = null;
    let currentLng = null;

    let currentCountry = null;

    let topSong = null;

    // function to get current coordinates, current country and current top song
    function addData(){

      map.loadImage('/static/style/cat.png', function(error, image) {
              map.addImage('person', image)
        });

      $.getJSON(issLocationAPI, function(data) {
        
          currentLat = data.iss_position.latitude
          currentLng = data.iss_position.longitude

          console.log("lng, lat:",currentLng,currentLat)

          
      
          let point  = {
            "type": "FeatureCollection",
            "features": [
              {
              "type": "Feature",
              "properties": {},
              "geometry": {
                  "type": "Point",
                  "coordinates": [currentLng,currentLat]}
                }
              ]
          };

          map.addSource('point', {
              "type": "geojson",
              "data": point
          });

          map.addLayer({
              "id": "point",
              "source": "point",
              "type": "symbol",
              "layout": {
                  'visibility': 'visible',
                  "icon-image": 'person', 
                  "icon-allow-overlap": true,
                  "icon-ignore-placement": true,
                  "icon-size": .3,
                  "icon-anchor" : "bottom"
              }
          });

          let issCountry= `https://api.mapbox.com/geocoding/v5/mapbox.places/${currentLng},${currentLat}.json?types=country&access_token=${mapboxgl.accessToken}`;

          $.getJSON(issCountry, function(data) {

            // console.log(data)

            if (data.features.length > 0){

              currentCountry = data.features[0].place_name

            } else {

              currentCountry = 'Global'
            }

            // get top song data from server 
            let topSong = `/top_song/${currentCountry}`;

             $.getJSON(topSong, function(data) {

                let playlistId = data['playlist_id']

                $('#player').attr("src", `https://open.spotify.com/embed/playlist/${playlistId}`);

             })
    
          });

        
      });

    }

    //  load location on map when 
    map.on('load', function() { addData() })




    function updateData(){
      // get new data

      console.log("ready for update")      

    }


    // update data every five seconds
    // setInterval(function(){ 
    //      updateData()  
    // }, 5000);


  </script>


      


  </div>


</body>

</html>